@import "media_mixin.scss";

$mainColor: white;
$colorShodow: rgba(255, 255, 255, 0.5);
$fontFamilyArial: Arial, Helvetica, sans-serif;
$fontFamilyGeorgia: Georgia, 'Times New Roman', Times, serif;

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-height: 100%;
    background: radial-gradient(circle at 0px 0px, rgba(0, 0, 0, 0.9), transparent), url('../img/background.jpg') no-repeat center top / cover;     
    color: $mainColor;
    @include _1170 {
        background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), transparent) no-repeat center fixed, url('../img/background.jpg') no-repeat center fixed;
        background-size: cover
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;  
    padding: 0 20px;  
    @include _768 {
        padding: 0;
    }
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
    @include _600 {
        display: none;
    }
}

.company {
    margin-top: 50px;
    float: left;
    font-family: $fontFamilyArial;
    font-size: 32px;
    @include _600 {
        float: none;
        text-align: center;
    }
}

nav {
    margin-top: 50px;
    float: right;
    @include _600 {
        float: none;
        margin-top: 0;
    }
}

.menu {
    display: block;
    li {
        float: right;
        display: block;
        @include _600 {
            float: none;
            text-align: center;
            margin-top: 20px;
        }
    }
    a {
        color: $mainColor;
        padding: 0 10px 0 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $fontFamilyArial;
        font-size: 14px;
    }
}

.block__heading {    
    margin-top: 40px; 
    @include _600 {
        text-align: center;
        margin-top: 10px;
    } 
    & .left { 
        width: 70%;
        float: left;
        @include _768 {
            width: 100%;
        } 
    }    
    & .right {
        width: 29%;
        float: right;
        @include _768 {
            display: none;
        }
    }
}

.heading_one {
    padding-right: 50px;
    font-family: $fontFamilyGeorgia;
    font-size: 48px;
    font-weight: bold;
    @include _768 {
        padding-top: 60px;
        margin-bottom: 20px;
        white-space: pre-line;
    }
    @include _600 {
        padding: 0;
        font-size: 35px;
        line-height: 1.5;
    }

}

.heading_two {
    padding: 25px 250px 30px 0;
    font-family: $fontFamilyArial;
    font-size: 20px;    
    @include _768 {
        padding: 60px 0;
        white-space: pre-line;
    }
    @include _600 {
        padding: 0;
        padding-bottom: 30px;
    }
}

.block__heading__buttom {
    margin-top: 15px;
    height: 75px;
    width: 285px;
    border-radius: 37px;
    background: linear-gradient(to top, #F9A825, #FFEB3B);
    font-size: 25px;
    color: $mainColor;
    border: 0px;
    outline: none;
    box-shadow: 0px 5px 5px rgb(249,168,37, 0.5);
    transition: .4s;
    &:hover, &:active {
        margin-top: 12px;
        outline: none;
        color: #3D3D3D;
        box-shadow: 0px 10px 20px rgb(249,168,37, 0.9);
        transition: .4s;
    }
}
