* {
    margin: 0;
    padding: 0;
    background: transparent;   
    color: white;
}

html, body {
    background-image: radial-gradient(circle, transparent, black), 
        url('../img/background.jpg'); 
    height: 100%;
    margin: 0;
}

.container {
    position: relative;
    min-height: 100%;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;	
}

nav {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.menuList li {    
    float: left;
    display: block;
}

.menuList li a {
    font-size: 14px;
    text-decoration: none;  
    text-transform: uppercase;
    padding-left: 10px;
}

.container__body {
    min-height: 100%;
    padding: 0 20px;
    max-width: 600px;
    text-align: center;
    margin: auto;
    padding-top: 15%;
    min-height: 100%;
    margin-bottom: -50px;
}

.container__text__footer {
    position: absolute;
    left: 0;
	bottom: 0;
    width: 100%;
    :first-child {
        float: left;
        margin: 10px 5px;
    }
    :last-child {
        float: right;
        margin: 10px 5px;
    }
}

.container__body__text__header {
    margin-top: 20px;
    font-size: 25px;
}

.container__body__text__body {
    font-size: 70px;
    &:nth-child(3) {
        color: rgb(255, 118, 21);
        text-transform: uppercase;
    }
}

.container__body__text__footer {
    font-size: 20px;
}

.container__body__form {
    position: absolute;
    width: 300px;
    height: 350px;
    left: 30px;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    p {
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
    }
}

.container__body__form__text {
    width: 90%;
    padding: 10px 0;
    font-size: 30px;
}

.container__body__form__button {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    height: 50px;
    background-color: yellow;
    border-radius: 25px;
    margin-top: 30px;
    :active {
        border: none;
    }
}

.container__body__form__input {
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    height: 40px;
    border-radius: 10px;
}

@media all and (max-width:700px) { 
    .container__body__text__header {
        font-size: 15px;
    }
    
    .container__body__text__body {
        font-size: 40px;
    }
    
    .container__body__text__footer {
        font-size: 12px;
    }
 }

